.{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
h1{
    text-align: center;
}
input,
label {
display: block;
}
label{
    color: green;
}
input{
    width: 100%;
}

.submit {
    margin: 25px auto 0 auto;
    width: 40%;
    height: 15%;
    background-color: rgb(112, 60, 160);
    border-radius: 8px;
}

form{
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    border: 2px solid black;
    padding: 20px;
}

.g-recaptcha{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}